.home{
    padding: 0rem 1rem;
    
    
}
html{
    scroll-behavior: smooth;
}
.home h1{
    font-size: 2.3rem;
    font-weight: 600;
    font-family: 'urbanist', sans-serif;
    text-transform: capitalize;
    color: rgb(24, 33, 160);
    padding: 0 2rem 2rem 2rem;
    text-align: center;
}
.navbar{
    background-color: white;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 3rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    font-family: 'urbanist', sans-serif;
    font-weight: 600;
    color: rgb(24, 33, 160);
    border-radius:2rem;
    position: sticky;
    top: 2rem;
    z-index: 1000;
}
.profile{
   
    padding: 2rem 4rem;
    height: 65rem;
}
.profile h3{
    font-size: 1.5rem;
}
.profile p{
    padding: 1rem 2rem;
    font-size: 1.2rem;
    color: rgb(0, 0, 0);
    text-align: justify;
}
.profile img{
    width: 25rem;
    height: 40rem;
    border-radius: 2rem;
   

   
}
.profile-image{
    width: 25rem;
    height: 40rem;
    border-radius: 2rem;
    box-shadow: 0 0px 2rem rgba(0, 0, 0, 0.5);
  
    position: relative  ;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
}
.profile-info{

    height: 40rem;
    position: relative  ;
    top:50%;
    transform: translateY(-50%);
    
}


.name{
    font-size: 2.5rem;
    color: rgb(24, 33, 160);
    font-weight: 700;
    font-family: 'urbanist', sans-serif;
    text-transform: capitalize;
    text-align: center;
    padding: 0 2rem 2rem 2rem;
   
}
.status{
    font-size: 1.5rem;
    font-weight: 600;
    font-family: 'urbanist', sans-serif;
    text-transform: capitalize;
    padding: 0 2rem 2rem 2rem;
    text-align: center;

  
}

.title{
    font-size: 1.2rem;
    font-weight: 600;
    font-family: 'urbanist', sans-serif;
    text-transform: capitalize;

}


.cursus{
    padding: 10rem 4rem;
   
}

.cursus-item{
    padding: 10rem 4rem 0rem 4rem;
    
}
.cursus-item h1{
    font-size: 1.5rem;
    font-weight: 600;
    font-family: 'urbanist', sans-serif;
    text-transform: capitalize;
    color: rgb(24, 33, 160);
    padding: 0 2rem 2rem 2rem;
    text-align: left;
}
.cursus-item p{
    padding: 1rem 2rem;
    font-size: 1.2rem;
    color: rgb(0, 0, 0);
    text-align: justify;
}

.cursus-item img{
    width: 55rem;
    height: 20rem;
    border-radius: 2rem;
    box-shadow: 0 0px 2rem rgba(0, 0, 0, 0.5);
    position: relative  ;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
}

.bac-img{
    width: 55rem !important;
    height: 25rem !important;
    padding: 0rem 0rem;
    border-radius: 0rem !important;
    box-shadow: 0 0px 2rem rgba(0, 0, 0, 0.5) !important;
}